@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.bg-header {
  background-color:#1C3144;
  color:white;
}

.bg-button {
  background-color:#70161E;
}



body {
  font-family: "PT Sans Narrow";
  font-size: 18pt;
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: #2C394B;
}

#headercontent {
  display:grid;
  grid-template-columns: 25% 45% 10% 20%;
  text-align:center;
}

#brand {
  font-size:1.5em;
}

#footercontent {
  width:100%;
  display:grid;
  grid-template-columns: 33% 34% 33%;
  position:fixed;
  bottom:0;
}

#sub-here {
  text-align:right;
  margin-right:5%;
}

#color-here {
  text-align:left;
  margin-left:5%;
}

#dogicon-here {
  text-align:center;
}

.dogico {
  background-image: url("/img/dogico.png");
  background-repeat:no-repeat;
  background-size:cover;
  padding:0 15px;
  height:auto;

}

#user-table {
  text-align:center;
  margin-top:1em;
}

#user-table table {
  border-spacing: 0;
  border-right-width: 0;
  margin-left:auto;
  margin-right:auto;
}
#user-table * {
   border-style:solid;
   border-width: 0 0.1em 0 0;
   
}

#user-table td:first-child {
  border-left-width: 0.1em;
}

#user-table thead td{
  border-top-width: 0.1em;
}

#user-data-rows td {
  border-bottom-width: 0.1em;
}

#user-table caption {
  border-style:none;
}

#user-table td {
  background-color:#de6a2d;
}

#welcome-content {
  border-style: solid;
  border-color:white;
  background-image: url("/img/profile1.jpg");
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
}

#data-table {
  display:grid;
  grid-template-columns: 33% 34% 33%;
  text-align:center;
}

.card{
  margin-top:3em;
  border-style:solid;
  margin-right: 10px;
  margin-left: 10px;
  height: 500px;
}
.card table{
  margin-left:auto;
  margin-right:auto;
  border-spacing:0.5em 0em;
  font-size:0.7em;
}

.doglabel {
  font-size:1.7em;
  margin-bottom:0.5em;
}

.card table tr td {
  font-size:1.2em;
}

.dog-extra {
  margin-top: 0.5em;
}

.dog-pic {
  height: 300px;
  width: 400px;
  margin-top:10px;

}

input[type='submit'] {
  font-size: 1.2em;
  background-color:#70161E;
  color:white;
}

input[type='submit']:hover{
  transform: scale(1.25,0.75);
}


@media (max-width: 1250px){

  #headercontent {
    grid-template-columns: 15% 45% 20% 20%;
  }

  #data-table {
    display:grid;
    grid-template-columns: 50% 50%;
  }

}

@media (max-width: 900px){

  #data-table {
    display:grid;
    grid-template-columns: 100%;
  }
  
}

@media (max-width: 800px){

  #user-table {
    display:none;
  }
  
}